* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.vЭкран {
  width: 1920px;
  height: 1080px;
  background: rgba(80,84,163,1);
  opacity: 1;
  position: relative;
  overflow: hidden;
  top: 0px;
  left: 0px;
  margin: -188px;
  transform: scale(67%)
}
.vФонДляГлавногоЭкрана {
  width: 100%;
  height: 100%;
  background: url("../images/vФонДляГлавногоЭкрана.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.vПодвал {
  width: 100%;
  height: 148px;
  background: rgba(23,23,23,1);
  opacity: .5;
  position: absolute;
  top: 932px;
  left: 0px;
  overflow: hidden;
}
.vРегистрация {
  width: 191px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 33px;
  left: 1696px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.vВход {
  width: 240px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 33px;
  left: 1418px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
a {
  overflow-x: hidden;
  text-decoration: none;
  color: white;
} 
.vТелефон {
  width: 521px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 963px;
  left: 42px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.vПочта {
  width: 625px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1016px;
  left: 42px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.vГруппаЛого {
  width: 574px;
  height: 137px;
  background: url("../images/v47_14.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 23px;
  opacity: 1;
  position: absolute;
  top: 250px;
  left: 680px;
  overflow: hidden;
}
.vЛого {
  width: 600px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.vОценка {
  width: 100%;
  letter-spacing: .2rem;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 476px;
  left: 396px;
  font-family: Times New Roman;
  font-weight: Bold;
  font-size: 70px;
  opacity: 1;
  text-align: left;
}
.v©GradeWise {
  width: 295px;
  color: rgba(160,160,160,1);
  position: absolute;
  top: 1031px;
  left: 1625px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.vОСайте {
  width: 138px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 963px;
  left: 919px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.vКонтакты {
  width: 160px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1016px;
  left: 919px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.hr-line {
  border-top: 4px solid #ffffff;
}
